{% load static %}
    <section id="hero" class="hero">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Tecmed</h2>
              <h3 data-aos="fade-up" data-aos-delay="100">{% lorem 1 b random %}</h3></br>
              <p data-aos="fade-up" data-aos-delay="200">{% lorem 1 b random %}</p>
              <p data-aos="fade-up" data-aos-delay="200">{% lorem 1 b random %}</p>
              <p data-aos="fade-up" data-aos-delay="200">{% lorem 1 b random %}</p>
              <p data-aos="fade-up" data-aos-delay="200">{% lorem 1 b random %}</p>
              <p data-aos="fade-up" data-aos-delay="200">{% lorem 1 b random %}</p>
            </div>
          </div>
        </div>
  
      </section>  