{% load static %}
    <section id="hero" class="hero">
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope='col'> #Id</th>
                <th scope='col'> Cliente</th>
                <th scope='col'> Técnico</th>
                <th scope='col'> Tp RAT</th>
                <th scope='col'> Data</th>
                <th scope='col'> Hr.Inicial</th>
                <th scope='col'> Hr.Final</th>
                <th scope='col'> Vl.Atendimento</th>
                <th scope='col'> Vl.Peças</th>
                <th scope='col'> Vl.Total</th>
                <th scope='col'> </th>
                <th scope='col'> </th>
                <th scope='col'> Ações </th>
                <th scope='col'> </th>
                <th scope='col'> </th>
              </tr>
            </thead>
            <tbody>
                {% for vrelattecs in vrelattec %}
                  <tr>
                    <td>{{vrelattecs.rat_pk}}</td>
                    <td>{{vrelattecs.cod_cli}}</td>
                    <td>{{vrelattecs.user_rat}}</td>
                    <td>{{vrelattecs.tp_rat}}</td>
                    <td>{{vrelattecs.dt_rat}}</td>
                    <td>{{vrelattecs.hr_ini_rat}}</td>
                    <td>{{vrelattecs.hr_fim_rat}}</td>
                    <td>{{vrelattecs.vl_atend_rat}}</td>
                    <td>{{vrelattecs.vl_pecas_rat}}</td>
                    <td>{{vrelattecs.vl_pecas_rat}}</td>
                    <td>
                      <a href="{% url 'hcorp' %}" button type="button" class="btn btn-primary bi bi-zoom-in"></button>
                    </td>
                    <td>
                      <a href="{% url 'hcorp' %}" type="button" class="btn btn-warning bi bi-sliders"></button>
                    </td>  
                    <td>
                      <a href="{% url 'hcorp' %}" type="button" class="btn btn-danger bi bi-trash3"></button>
                    </td> 
                    <td>
                      <a href="{% url 'hcorp' %}" type="button" class="btn btn-info bi bi-printer"></button>
                    </td>            
                    <td>
                      <a href="{% url 'hcorp' %}" type="button" class="btn btn-success bi bi-share"></button>
                    </td>            
                  </tr>                      
                {% endfor %}
            </tbody>              
          </table>    
        </div>
  
      </section>  