{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tecmed - Sistema Corporativo</title>
<meta content="" name="description">

<!-- Favicons -->
<link href="{% static 'global/assets/img/favicon.ico' %}" rel="icon">
<link href="{% static 'global/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'global/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'global/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'global/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'global/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'global/assets/vendor/aos/aos.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'global/css/hcorphp.css' %}" rel="stylesheet">