{% load static %}
    <!-- ------------------- Hero Section-Home Page ------------------- -->
    <section id="hero" class="hero">
        <img src="{% static 'global/assets/img/fundo_home.png' %}" alt="" data-aos="fade-in">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Tecmed</h2>
              <h3 data-aos="fade-up" data-aos-delay="100">Soluções em Tecnologia</h3></br>
              <p data-aos="fade-up" data-aos-delay="200">Empresa de TI apaixonada por Tecnologia e Inovação.</p>
              <p data-aos="fade-up" data-aos-delay="200">Há muitos anos atuando com excelência em soluções de TI sob medida para seu negócio.</p>
              <p data-aos="fade-up" data-aos-delay="200">Trabalhamos com profissionais, altamente qualificados, com vasta experiência de mercado nos segmentos de Infraestrutura de ti.</p>
            </div>
          </div>
        </div>
  
      </section>
      <!-- ------------------- End Hero Section ------------------- -->
  