{% load static %}
    <!-- Services Section -->
    <section id="services" class="services">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Serviços</h2>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                <div>
                  <h4 class="title"><a href="services-details.html" class="stretched-link">Service Desk</a></h4>
                  <p class="description">Equipe especializada e qualificada para manter a operação da sua empresa por meio de suporte aos recursos tecnológicos de seus usuários e servidores.</p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                <div>
                  <h4 class="title"><a href="services-details.html" class="stretched-link">Projetos</a></h4>
                  <p class="description">Backup Online e Local, Endpoint, redes sem fio, e muitos outros projetos individuais desenvolvidos exclusivamente para suas necessidades.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                <div>
                  <h4 class="title"><a href="services-details.html" class="stretched-link"></a>Cabeamento Estruturado</h4>
                  <p class="description">Cabeamento estruturado é o primeiro estágio para transmissão de dados e comunicação entre pessoas. É através dele que a rede é organizada para comportar toda estrutura da área de Tecnologia da Informação (Internet, telefonia etc.).</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
                <div>
                  <h4 class="title"><a href="services-details.html" class="stretched-link">Terceirização</a></h4>
                  <p class="description">Alocação de técnicos, analistas, coordenadores e gerentes full-time / part-time, e locação de equipamentos e softwares.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
          </div>
        </div>
      </section>
      <!--  End Services Section -->  