{% load static %}
    <!-- Team Section -->
    <section id="team" class="team">
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Time</h2>
        </div><!-- End Section Title -->
        <div class="container">
          <div class="row gy-5">
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'global/images/team_dumas.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Alexandre Dumas</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div><!-- End Team Member -->
          </div>
        </div>
      </section><!-- End Team Section -->