{% load static %}
    <!-- About Section - Home Page -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up" data-aos-delay="100"">
          <div class="" row align-items-xl-center gy-5">
          <div>
            <h2>Sobre</h2>
            <h4>
              A Tecmed tem um portfólio completo de soluções que atende desde a análise de rede até os serviços de monitoramento e sustentação.
              Sempre atuando com excelência em soluções de TI sob medida para seu negócio.
              A infraestrutura de TI é o setor responsável por todo o alicerce interno de tecnologia presente dentro de uma empresa. Ela compreende o conjunto de ferramentas necessárias para o pleno funcionamento das operações e dos processo.
              Oferecemos preços competitivos, estratégias versáteis e únicas. O atendimento é focado em agilidade, imparcialidade e ética, para que os processos de compra, instalação e manutenção sejam os mais simples e dinâmicos possíveis.
              Entre em contato conosco agora mesmo, e descubra como este processo de atualização e manutenção para sua empresa pode ser mais fácil e econômico do que imagina!
            </h4>
            <a href="#" class="read-more"><span>Saiba Mais</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        </div>
  
  
      </section>
  