{% load static %}
<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="hcorp.html#hero" class="active">Home</a></li>
    <li><a href="{% url 'htmrat' %}">RAT Rel.Atend.Técnico</a></li>
    <li class="dropdown has-dropdown"><a href="#"><span>Cadastros</span> <i class="bi bi-chevron-down"></i></a>
      <ul class="dd-box-shadow">
        <li><a href="{% url 'htmrat' %}">RAT Rel.Atend.Técnico</a></li>
        <li><a href="{% url 'glbclient' %}">Clientes</a></li>
        <li><a href="{% url 'glbfornece' %}">Fornecedores</a></li>
        <li class="dropdown has-dropdown"><a href="#"><span>Configurações Sistema</span> <i class="bi bi-chevron-down"></i></a>
          <ul class="dd-box-shadow">
            <li><a href="#">Empresas</a></li>
            <li><a href="#">Usuários</a></li>
          </ul>
        </li>

      </ul>
    </li>
    <li><a href="hcorp.html#about">Sobre</a></li>
    <li><a href="hcorp.html#services">Serviços</a></li>
    <li><a href="hcorp.html#team">Time</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<a> </a>

<!-- ------------------- End Nav Menu ------------------- -->

</div>

</header>
<!-- ------------------- End Header ------------------- -->
