{% load static %}

<!-- Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %} Tecmed  Sistema Corporativo</title>
<meta content="" name="description">
<meta name="author" content="Georgeo Nocera">

<!-- Favicons -->
<link href="{% static 'global/assets/img/favicon.ico' %}" rel="icon">
<link href="{% static 'global/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'tmglobal/css/glbcorp_btrap.min.css' %}" rel="stylesheet">
<link href="{% static 'tmglobal/css/glbcorp_btrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'tmglobal/css/glbcorp_glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'tmglobal/css/glbcorp_swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'tmglobal/css/glbcorp_aos.css' %}" rel="stylesheet">
<link href="{% static 'tmglobal/css/glbcorp-main.css' %}" rel="stylesheet">
