{% load static %}
<!-- Vendor JS Files -->
  <script src="{% static 'tmglobal/js/glbcorp_bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_glightbox.min.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_purecounter_vanilla.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_swiper-bundle.min.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_aos.js' %}"></script>
  <script src="{% static 'tmglobal/js/glbcorp_validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'tmglobal/js/glbcorp_main.js' %}"></script>
