{% include 'tmglobal/partials/head.html' %}
<body>
    {% include 'tmglobal/partials/header.html' %}
    {% include 'tmglobal/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
            {% include 'tmglobal/partials/hcorp.html' %}
        </div>
    </main>

    {% include 'tmglobal/partials/footer.html' %}
</body>

</html>