{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'tmglobal/partials/glbcorp_head.html' %}   <!-- - Head - -->
</head>

<body>

{% include 'tmglobal/partials/glbcorp_header.html' %}   <!-- - Header and Menu - -->

  {% if request.get_full_path == '/glbclient/' %}
  
    {% include 'tmglobal/pages/glbcorp_client_pri.html' %}      <!-- - Cadastro de Clientes - -->
  
  {% elif request.get_full_path == '/glbfornece/' %}
  
    {% include 'tmglobal/pages/glbcorp_fornece_pri.html' %}      <!-- - Cadastro de Fornecedores - -->

  {% elif request.get_full_path == '/htmrat/' %}

    {% include 'tmrat/pages/tmrat_pri.html' %}      <!-- - Cadastro de Fornecedores - -->
  
  {% endif %}

{% include 'tmglobal/partials/glbcorp_footer.html' %}   <!-- - Footer - -->

</body>
</html>