{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'tmglobal/partials/glbcorp_head.html' %}   <!-- - Head - -->
</head>

<body>

{% include 'tmglobal/partials/glbcorp_header.html' %}   <!-- - Header and Menu - -->

  {% if request.resolver_match.url_name == 'glbclient' %}
  
    {% include 'tmglobal/pages/glbcorp_client_pri.html' %}      <!-- - Cadastro de Clientes - -->
  
  {% elif request.resolver_match.url_name == 'glbfornece' %}
  
    {% include 'tmglobal/pages/glbcorp_fornece_pri.html' %}      <!-- - Cadastro de Fornecedores - -->

  {% elif request.resolver_match.url_name == 'htmrat' %}

    {% include 'tmrat/pages/tmrat_pri.html' %}      <!-- - Cadastro de Fornecedores - -->
  
  {% elif request.resolver_match.url_name == 'glbclientins' %}

    {% include 'tmglobal/pages/glbcorp_client_create.html' %}      <!-- - Create Cadastro de Clientes - -->

  {% elif request.resolver_match.url_name == 'glbclientdel' %}

    {% include 'tmglobal/pages/glbcorp_client_delete.html' %}      <!-- - Delete Cadastro de Clientes - -->

  {% elif request.resolver_match.url_name == 'glbclientupd' %}

    {% include 'tmglobal/pages/glbcorp_client_update.html' %}      <!-- - Update Cadastro de Clientes - -->

  {% endif %}

{% include 'tmglobal/partials/glbcorp_footer.html' %}   <!-- - Footer - -->

</body>
</html>