{% load static %}

<br>

<div class="container">

  <div class="form-group">    <!-- - Pesquisa - -->
    <form action="?" method="GET">
      <input type="text" name="nm_com_for" id="" value="{{ request.GET.nm_com_for}}" class="p-1 border" autocomplete="off" placeholder="Digite sua pesquisa">
      <button type="submit" class="btn btn-success"> Pesquisar</button>
      <a href="{% url 'glbfornece' %}" class="btn btn-info"> Limpar </a>
      <br>
    </form>
  </div> 

  <table class="table table-sm table-striped">    <!-- - Tabela - -->
    <thead>
      <tr>
        <th scope='col'> #Id</th>
        <th scope='col'> Código</th>
        <th scope='col'> Seq</th>
        <th scope='col'> Ini.Relacion.</th>
        <th scope='col'> Razão Soc.</th>
        <th scope='col'> Nome</th>
        <th scope='col'> Tel</th>
        <th scope='col'> </th>
        <th scope='col'> Ações </th>
        <th scope='col'> </th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{object.fornece_pk}}</td>
          <td>{{object.cod_for}}</td>
          <td>{{object.seq_for}}</td>
          <td>{{object.dt_ini_relac_for}}</td>
          <td>{{object.nm_jur_for}}</td>
          <td>{{object.nm_com_for}}</td>
          <td>{{object.tel_for}}</td>
          <td><a class="btn btn-primary" href="{% url 'hcorp' %}" role="button">Visualizar</a> <!-- - bi bi-zoom-in - --> </td>
          <td><a class="btn btn-warning" href="{% url 'hcorp' %}" role="button">Alterar</a> <!-- - bi bi-sliders - --> </td>
          <td><a class="btn btn-danger" href="{% url 'hcorp' %}" role="button">Excluir</a> <!-- - bi bi-trash3 - --></td>
        </tr>
      {% empty %}
        <tr>
          <td> Nenhum registro encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      {% if request.GET.nm_com_for %}
        <li class="page-item"><a class="page-link"
            href="?page=1&nm_com_for={{request.GET.nm_com_for}}">&laquo;Primeira</a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;Anterior</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo;Primeira</a></li>
        <li class="page-item"><a class="page-link"
            href="?page={{page_obj.previous_page_number}}&nm_com_for={{request.GET.nm_com_for}}">&laquo;Anterior</a></li>
        {% endif %}
    {% endif %}
    <li class="page-item">
      <span class="page-link"> Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} </span>
    </li>
    {% if page_obj.has_next %}
      {% if request.GET.nm_com_for %}
        <li class="page-item"><a class="page-link"
        href="?page={{page_obj.next_page_number }}&nm_com_for={{request.GET.nm_com_for}}">&laquo;Próxima</a>
        </li>
        <li class="page-item"><a class="page-link"
        href="?page={{page_obj.paginator.num_pages }}&nm_com_for={{request.GET.nm_com_for}}">&laquo;Última</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Próxima</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Última &raquo;</a></li>
      {% endif %}
    {% endif %}
</div>